<style>
    .my-drop-zone { border: dotted 3px lightgray; }
    .nv-file-over { border: dotted 3px red; } /* Default class applied to drop zones on over */
    .another-file-over-class { border: dotted 3px green; }

    html, body { height: 100%; }
</style>

<input type="file" 
       ngFileSelect
       [options]="optionsRatings"
       (onUpload)="handleUploadRatings($event)">


<input type="file" 
       ngFileSelect
       [options]="optionsFred"
       (onUpload)="handleUploadFred($event)">
<div>
Response: {{ uploadFile | json }}
</div>

<div *ngIf="systems">
    <button class="btn btn-primary" (click)="loadDashboard()"><i class="fa fa-info-circle" aria-hidden="true"></i>All</button>
    <span *ngFor="let system of systems">
        <button class="btn btn-primary" (click)="loadDashboard(system)"><i class="fa fa-info-circle" aria-hidden="true"></i>{{system || 'All'}}</button>
    </span>
</div>
<div [@flyInOut]="'in'">
    <table class="table table-hover">
        <thead>
            <tr>
                <th><i class="fa fa-text-width fa-2x" aria-hidden="true"></i>System</th>
                <th><i class="fa fa-user fa-2x" aria-hidden="true"></i>SubSystem</th>
                <th><i class="fa fa-paragraph fa-2x" aria-hidden="true"></i>Date</th>
                <th><i class="fa fa-calendar-o fa-2x" aria-hidden="true"></i>Time</th>
                <th><i class="fa fa-calendar-o fa-2x" aria-hidden="true"></i>Course</th>
                <th><i class="fa fa-calendar-o fa-2x" aria-hidden="true"></i>Horse</th>
                <th><i class="fa fa-calendar-o fa-2x" aria-hidden="true"></i>Stake</th>
                <th></th>
                <th></th>
                <th></th>
            </tr>
        </thead>
        <tbody *ngIf="qualifiers">
            <tr *ngFor="let qualifier of qualifiers" [ngClass]="qualifier.selected==true ?'winningSelection':''">
                <td> {{qualifier.system}}</td>
                <td>{{qualifier.subsystem}}</td>
                <td>{{qualifier.date | dateFormat | date:'medium'}}</td>
                <td>{{qualifier.time}}</td>                
                <td>{{qualifier.course}}</td>
                <td>{{qualifier.horse}}</td>
                <td>{{qualifier.stake}}</td>
                <td><button class="btn btn-primary" (click)="createQualifier(qualifier)">
                    <i class="fa fa-info-circle" aria-hidden="true"></i>Add</button>
                </td>
                <td><button class="btn btn-danger" (click)="deleteQualifier(qualifier)">
                    <i class="fa fa-info-circle" aria-hidden="true"></i>Remove</button>
                </td>
            </tr> 
        </tbody>
    </table>

    <pagination [boundaryLinks]="true" [totalItems]="totalItems" [itemsPerPage]="itemsPerPage" [(ngModel)]="currentPage" class="pagination-sm"
        previousText="&lsaquo;" nextText="&rsaquo;" firstText="&laquo;" lastText="&raquo;" (pageChanged)="pageChanged($event)"></pagination>
</div>

<div bsModal #childModal="bs-modal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="mySmallModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg" *ngIf="selectedselectionLoaded">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" aria-label="Close" (click)="hideChildModal()">
          <span aria-hidden="true">&times;</span>
        </button>
                <h4>{{selectionDetails.title}} details</h4>
            </div>
            <div class="modal-body">
                <form ngNoForm method="post">
                    <div class="form-group">
                        <div class="row">
                            <div class="col-md-4">
                                <label class="control-label"><i class="fa fa-user" aria-hidden="true"></i>Creator</label>
                                <input type="text" class="form-control" [(ngModel)]="selectionDetails.creator" disabled />
                            </div>

                            <div class="col-md-4">
                                <label class="control-label"><i class="fa fa-text-width" aria-hidden="true"></i>Title</label>
                                <input type="text" class="form-control" [(ngModel)]="selectionDetails.title" disabled />
                            </div>

                            <div class="col-md-4">
                                <label class="control-label"><i class="fa fa-paragraph" aria-hidden="true"></i>Description</label>
                                <input type="text" class="form-control" [(ngModel)]="selectionDetails.description" disabled />
                            </div>
                        </div>
                    </div>

                    <div class="form-group">
                        <div class="row">
                            <div class="col-xs-6">
                                <label class="control-label"><i class="fa fa-calendar-o" aria-hidden="true"></i>Time Start</label>
                                <input type="text" class="form-control" [(ngModel)]="selectionDetails.timeStart" disabled />
                            </div>

                            <div class="col-xs-6">
                                <label class="control-label"><i class="fa fa-calendar-check-o" aria-hidden="true"></i>Time End</label>
                                <input type="text" class="form-control" [(ngModel)]="selectionDetails.timeEnd" disabled />
                            </div>
                        </div>
                    </div>

                    <div class="form-group">
                        <div class="row">
                            <div class="col-md-4">
                                <label class="control-label"><i class="fa fa-map-marker" aria-hidden="true"></i>Location</label>
                                <input type="text" class="form-control" [(ngModel)]="selectionDetails.location" disabled />
                            </div>

                            <div class="col-md-4 selectContainer">
                                <label class="control-label"><i class="fa fa-spinner" aria-hidden="true"></i>Status</label>
                                <input type="text" class="form-control" [(ngModel)]="selectionDetails.status" disabled />
                            </div>
                            <div class="col-md-4 selectContainer">
                                <label class="control-label"><i class="fa fa-tag" aria-hidden="true"></i>Type</label>
                                <input type="text" class="form-control" [(ngModel)]="selectionDetails.type" disabled />
                            </div>
                        </div>
                    </div>
                    <hr/>
                    <div class="panel panel-info">

                        <div class="panel-heading">Attendes</div>

                        <table class="table table-hover">
                            <thead>
                                <tr>
                                    <th></th>
                                    <th><i class="fa fa-user" aria-hidden="true"></i>Name</th>
                                    <th><i class="fa fa-linkedin-square" aria-hidden="true"></i>Profession</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr *ngFor="let attendee of selectionDetails.attendees">
                                    <td [style.valign]="'middle'">
                                        <img class="img-thumbnail img-small" src="{{apiHost}}images/{{attendee.avatar}}" alt="attendee.name" />
                                    </td>
                                    <td [style.valign]="'middle'">{{attendee.name}}</td>
                                    <td [style.valign]="'middle'">{{attendee.profession}}</td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </form>
            </div>
        </div>
    </div>
    
</div>